<h2 class="text-center my-4 pt-5">Tu Perfil</h2>
{{> nav}}
<div class="container">
  <div class="row d-flex justify-content-center align-items-center w-100">
    <div class="col col-lg-7 mb-4 mb-lg-0">
      <div class="card mb-3" style="border-radius: .5rem;">
        <div class="row g-0">
          <div style="background-color: #0B6EFD;" class="col-md-4 text-center text-white"
            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <img
              src="https://e7.pngegg.com/pngimages/328/599/png-clipart-male-avatar-user-profile-profile-heroes-necktie.png"
              alt="Avatar" class="img-fluid my-5 rounded-3" style="width: 100px;" />
            <h5>{{firstname}} {{lastname}}</h5>
            <p>{{isadmin}}</p>
            <i class="far fa-edit mb-5"></i>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Información</h6>
              <hr class="mt-0 mb-4" />
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <p class="text-muted">{{email}}</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Edad</h6>
                  <p class="text-muted">{{age}}</p>
                </div>
              </div>

              <h6>Mas Acciones</h6>
              <hr class="mt-0 mb-4" />
              <div class="row py-1">
                <div class="col-6 mb-3">
                  <h6>Reciente</h6>
                  <a href="/carts/{{cartid}}" class="btn btn-outline-primary btn-sm">Ver Carrito</a>
                </div>
                <div class="col-6 mb-3">
                  <h6>Cerrar Sesión</h6>
                  <a href="/auth/logout" class="btn btn-outline-primary btn-sm">Log out</a>
                </div>
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <a href="/mail" class="btn btn-outline-primary btn-sm">Editar Email</a>
                </div>
                <div class="col-6 mb-3">
                  <h6>Chat</h6>
                  <a href="/chat" class="btn btn-outline-primary btn-sm">Ingresar a la Sala</a>
                </div>
                {{#if orders.length}}
                <div class="col-6 mb-3">
                  <h6>Ordenes de Compra</h6>
                  {{#each orders}}
                  <a href="/api/carts/purchase/{{this}}" class="btn btn-outline-primary btn-sm mb-3">Compra #{{@index}}</a>
                  {{/each}}
                </div>
                {{/if}}
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="bi bi-facebook me-3"></i></a>
                  <a href="#!"><i class="bi bi-twitter me-3"></i></a>
                  <a href="#!"><i class="bi bi-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>